body
{
  font-family: Verdana, Arial, Helvetica, Sans-serif;
  color: #000000;
  background-color: #2aabed;
}

.header
{
  width:85%;
  background:#06a;
  margin:0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  color:#fff;
  font-size: 32px;
  border-left:1px solid #06a;
  border-right:1px solid #06a;
}
.menu
{
  font-size: 14px;
  text-align:right;
  padding: 0px;
}
.menu a
{
  color:#fff;
  padding-left: 12px;
}
.content
{
  width:85%;
  background:#fff;
  border-left:1px solid #06a;
  border-right:1px solid #06a;
  border-bottom:1px solid #06a;
  margin:0 auto;
  text-align:left;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 24px;
}
.code
{
  margin: 5px 0 15px;
  background: #ffc;
  color: #000;
  overflow: auto;
  white-space: pre;
  border:1px inset #fcc;
}

a
{
  color: #000000;
}
h1
{
  font-size: 24px;
}
h2
{
  font-size: 20px;
}
h3
{
  font-size: 16px;
}
h4
{
  font-size: 12px;
}

.vcenterspan /* this is black magic used to vertically center content in a div */
{
  position: relative;
  top: expression(parentElement.offsetHeight/2-offsetHeight/2);
  text-align: left;
}